@charset "UTF-8" ;

:root {
    --font-destaque: 'Recursive', sans-serif;
    --font-principal: 'Poppins', sans-serif;
    --cor-fundo: #232830;
    --cor1: rgb(255, 117, 117);
    --cor2: rgb(144, 144, 144);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
}

#writing-img {
    font-size: 30px;
}
.nav-esquerdo {
    display: flex;
}
.nav-direito {
    display: flex;
    gap: 15px;
}
 /* NAV */
header > nav {
    width: 100%;
    padding: 20px 35px 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: var(--font-principal);
}
header > img {
    display: block;
    margin: auto;
    zoom: 85%;
    padding-left: 55px;
}
header > h1 {
    color: var(--cor1);
    text-align: center;
    font-size: 4em;
    font-family: var(--font-destaque);
    font-style: italic;
    font-weight: normal;
    padding: 10px 0px 10px 0px;

}
header p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: var(--font-principal);
    font-style: italic;
    padding: 8px 0px 60px 0px;
}
#line-1 {
    width: 100%;
}

.menu-principal {
    display: flex;
    gap: 35px;
    padding: 20px 35px 0px 35px;
    width: 100%;
    align-items: center;
    scrollbar-width: none;
}
.sub-nav {
    display: flex;
    gap: 16px;
    align-items: center;
    scrollbar-width: none;
}

div.menu-scroll {
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    
}

div.menu-scroll-direito {
    display: flex;
    gap: 36px;
    scrollbar-width: none;
}
a.nav-icon {
    height: 24px;
}

a.nav-link {
    font-family: var(--font-destaque);
    color: #909090;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

.cards-1 {
<<<<<<< Updated upstream
    position: relative;
=======
    display: flex;
    align-items: center;
>>>>>>> Stashed changes
    background-color: white;
    height: 440px;
    width: 390px;
    border-radius: 22px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.192);
    margin-left: 70px;
    margin-top: 50px;
    padding: 20px;
}
section > div > img {
    position: relative;
    padding-bottom: 10px;
    width: 340px;
    margin-left: 4px;
}
.content {
    position: absolute;
    max-width: 250px;
    font-size: 12px;
}
.cards-img {

<<<<<<< Updated upstream
.title-card {
    min-width: 340px;
    text-align: left;
    padding-bottom: 10px;
    font-size: 19px;
}

.text-card {
    text-align: justify;
    min-width: 340px;
    padding-bottom: 8px;
    font-size: 17px;
}

foot-card {

}



=======
}
>>>>>>> Stashed changes
